.brand-logo {
    margin-left: 1em;
}

.parallax-container {
    background-color: black;
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
/*
    font-family: 'Open Sans',
sans-serif;
font-weight: 800;

}
*/

.parallax-container .section {
    width: 100%;
}